<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Invoice Order - {{order.id}}</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="container my-4">
      <h2>Mã đặt - {{order.id}}</h2>
      <h4 class="mb-3">
        Tới - {{order.user.first_name|default:order.user.username}}
        {{order.user.last_name}}
      </h4>
      <h4 class="font-weight-light">{{order.address}}</h4>
      <h4 class="font-weight-light mb-3">{{order.city}}, {{order.pin_code}}</h4>
      <h5 class="font-weight-light mb-4">Placed on {{order.created}}</h5>

      <!-- Giai đoạn 1: Thông tin đơn hàng -->
      <div class="stage">
        <h3>Thông tin đơn hàng</h3>
        <!-- Nội dung giai đoạn 1 -->
      </div>

      <!-- Giai đoạn 2: Xác nhận đơn hàng -->
      <div class="stage">
        <h3>Xác nhận đơn hàng</h3>
        <!-- Nội dung giai đoạn 2 -->
      </div>

      <!-- Giai đoạn 3: Thanh toán đơn hàng -->
      <div class="stage">
        <h3>Thanh toán đơn hàng</h3>
        <!-- Nội dung giai đoạn 3 -->
      </div>

      <hr />

      <h5>
        Trạng thái thanh toán - {% if order.paid %}
        <span class="badge badge-success">đã thanh toán</span>
        {% else %}
        <span class="badge badge-danger">Đang chờ thanh toán</span>
        {% endif %}
      </h5>
      <h5>Phương thức thanh toán - Thanh toán khi giao hàng</h5>
      <h5>Trạng thái - {{order.status}}</h5>
    </div>
    <footer class="text-center d-print-none">
      <button class="btn btn-primary" onclick="printPage()">In </button>
      <button class="btn btn-danger" onclick="history.back()">Trở lại</button>
    </footer>

    <script>
      function printPage() {
        // Ẩn các nút và phần tiêu đề không muốn in
        document.querySelector('.d-print-none').style.display = 'none';

        // In trang
        window.print();

        // Hiển thị lại các nút và phần tiêu đề
        document.querySelector('.d-print-none').style.display = 'block';
      }
    </script>
  </body>
</html>
